<article class="h-entry">
	{{ if .Title }}
	<h1 class="p-name">{{ .Title }}</h1>
	{{ end }}

	<time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
		<a class="u-url" href="{{ .Permalink }}">{{ .Date.Format "January 2, 2006" }}</a>
	</time>

	{{ $images := findRE "<img[^>]+>" .Content 20 }}
	{{ $textOnly := replaceRE "<img[^>]+>" "" .Content }}
	{{ $textOnly = replaceRE "<p>\\s*</p>" "" $textOnly }}

	<div class="e-content">
		{{ $textOnly | safeHTML }}
	</div>

	{{ if $images }}
	<div class="entry-gallery u-photo">
		<div class="entry-gallery-hero">
			{{ replaceRE "<img" "<img loading=\"lazy\"" (index $images 0) | safeHTML }}
		</div>
		{{ if gt (len $images) 1 }}
		<div class="entry-gallery-strip">
			{{ range after 1 $images }}
			<div class="entry-gallery-thumb">
				{{ replaceRE "<img" "<img loading=\"lazy\"" . | safeHTML }}
			</div>
			{{ end }}
		</div>
		{{ end }}
	</div>
	{{ end }}

	{{ with .Params.categories }}
	<ul class="categories">
		{{ range . }}
		<li><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a></li>
		{{ end }}
	</ul>
	{{ end }}
</article>

{{ if .Site.Params.include_conversation }}
<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
{{ end }}