{{ $pages := where (where .Site.RegularPages "Type" "post") "Title" "!=" "" }}
{{ $paginator := .Paginate $pages }}

<div class="post-list h-feed">
	{{ range $paginator.Pages }}
	<article class="h-entry entry-list-item">
		<time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
			<a href="{{ .Permalink }}">{{ .Date.Format "January 2, 2006" }}</a>
		</time>

		<h2 class="p-name"><a class="u-url" href="{{ .Permalink }}">{{ .Title }}</a></h2>

		{{ $lead := findRE "<img[^>]+>" .Content 1 }}
		{{ if $lead }}
		<a class="entry-thumb-link u-photo" href="{{ .Permalink }}">
			<div class="entry-thumb">{{ index $lead 0 | safeHTML }}</div>
		</a>
		{{ end }}

		<div class="e-content p-summary">
			{{ .Summary | plainify }}
		</div>
	</article>
	{{ end }}
</div>

{{ template "_internal/pagination.html" . }}