{{ $shorts := where .Site.RegularPages "Type" "post" }}
{{ $shorts = where $shorts "Title" "eq" "" }}
{{ $shorts = $shorts.ByDate.Reverse }}

{{ $limit := .Site.Params.shortsPageLimit | default 20 }}
{{ if gt $limit 0 }}
	{{ $shorts = first $limit $shorts }}
{{ end }}

{{ if $shorts }}
<div class="post-list h-feed shorts-list">
	{{ range $shorts }}
	<article class="h-entry entry-list-item">
		<time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
			<a class="u-url" href="{{ .Permalink }}">{{ .Date.Format "January 2, 2006" }}</a>
		</time>

		<div class="e-content">
			{{ .Content }}
		</div>
	</article>
	{{ end }}
</div>
{{ end }}